<footer class="site-footer">

  <div class="wrapper">

 <!--    <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
            <a target="_blank" href="{{site.url}}"><img src="https://img.shields.io/badge/Built%20by-{{site.built-by}}-blue.svg"></a>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
           <a target="_blank" href="https://facebook.com/{{site.f}}"><div class="social fb">f</div></a>
           <a target="_blank" href="https://twitter.com/{{site.t}}"><div class="social tw">t</div></a>
           <a target="_blank" href="https://github.com/{{site.g}}"><div class="social ghp">g</div></a>
           
      </div>
    </div>

  </div>

</footer>
