---
layout: compress
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
     <div class="box">
          <div class="wrapper">
        {{ content }}
          </div>
      </div>
    </div>

    {% include footer.html %}
 {% if site.analytics %}{% include analytics.html %}{% endif %}
 
  <script defer>
var cb = function() {
var m = document.createElement('link'); m.rel = 'stylesheet';
m.href = '{{site.baseurl}}/css/font.css';
var i = document.getElementsByTagName('head')[0]; i.parentNode.insertBefore(m, i);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>
  </body>

</html>
